.tagit-body {
  width: 70%;
  position: absolute;
  right: 0;
  padding: 10px;
}

.tagit-menu {
  position: fixed;
  overflow-y: auto;
  width: 30%;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #ccc;
  padding: 10px;
}

.tagit-menu ul {
  padding-left: 0px;
  margin-top: 10px;
}

.tagit-menu li {
  padding: 5px;
}

.tagit-menu li:hover {
  background-color: #eee;
  cursor: pointer;
}

.tagit-tag {
  background-color: #EDDE45;
  padding: 3px;
}

